@model Tarefas.Web.Models.TarefaViewModel

<script>
function goBack() {
    window.history.back()
}
</script>

<form asp-action = "Create">
    <div>
    @Html.LabelFor(model => model.Titulo, new {@class = "form-label"})
    @Html.TextBoxFor(model => model.Titulo, new {@class = "form-control", @readonly = "true"})
    </div>
    <div>

    @Html.LabelFor(model => model.Descricao, new {@class = "form-label"})
    @Html.TextBoxFor(model => model.Descricao, new {@class = "form-control", @readonly = "true"})
    </div>
</form>

<a asp-action="Details" asp-controller="Tarefas" onclick="goBack()"> Voltar</a>